<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.newstand.datamigration">

    <uses-sdk tools:overrideLibrary="br.tiagohm.markdownview" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".DataMigrationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.NavigatorActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DrawerNavigatorActivity"
            android:label="@string/app_name_test_version"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AndroidCategoryViewerActivity"
            android:label="@string/title_backup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.SenderCategoryViewerActivity"
            android:label="@string/title_transport_sender"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedCategoryViewerActivity"
            android:label="@string/title_transport_received_viewer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupSessionPickerActivity"
            android:label="@string/title_restore_picker"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedSessionPickerActivity"
            android:label="@string/title_transport_received_viewer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupCategoryViewerActivity"
            android:label="@string/title_restore"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AndroidDataListHostActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedDataListHostActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupDataListHostActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DataImportActivity"
            android:label="@string/title_restore_import"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DataExportActivity"
            android:label="@string/title_backup_export"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.WFDDataSenderActivity"
            android:label="@string/title_setup_wfd_sender" />
        <activity
            android:name=".ui.activity.WFDDataReceiverActivity"
            android:label="@string/title_setup_wfd_receiver" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".ui.activity.UserActionViewerActivity"
            android:label="@string/action_user_actions" />
        <activity
            android:name=".ui.activity.LicenseViewerActivity"
            android:label="@string/title_license" />
        <activity android:name=".ui.activity.DataSenderActivity" />
        <activity android:name=".ui.activity.DataReceiverActivity" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:label="@string/title_help" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.UserActionService" />

        <!-- For Sms -->
        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name=".broadcast.DummySmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name=".broadcast.DummyMMSReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name=".ui.activity.DummyComposeSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".service.DummySmsService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SchedulerServiceV21"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>