<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.newstand.datamigration">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".DataMigrationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="60f3f20bc06ef7b326523f6c7844e4bb" />

        <activity
            android:name=".ui.activity.DrawerNavigatorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Themed Activity -->
        <activity
            android:name=".ui.activity.NavigatorActivityDefault"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityRed"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityTeal"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_tea"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityWhite"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_white"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityCoolDark"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_dark"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityPink"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_pink"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityAmber"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_amber"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityCoolApk"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityPurple"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityBrown"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_brown"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigatorActivityBlueGrey"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_blue_grey"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AndroidCategoryViewerActivity"
            android:label="@string/title_backup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AndroidCategoryViewerActivityCollapsing"
            android:label="@string/title_backup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.SenderCategoryViewerActivity"
            android:label="@string/title_transport_sender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedCategoryViewerActivity"
            android:label="@string/title_transport_received_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupSessionPickerActivity"
            android:label="@string/title_restore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupSessionPickerActivityCollapsing"
            android:label="@string/title_restore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedSessionPickerActivity"
            android:label="@string/title_transport_received_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupCategoryViewerActivity"
            android:label="@string/title_restore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupCategoryViewerActivityCollapsing"
            android:label="@string/title_restore"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ScheduledTaskViewerActivity"
            android:label="@string/action_scheduler_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.LoaderConfigCategorySettingsActivity"
            android:label="@string/action_set_categories_to_load"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ExtraRulesViewerActivity"
            android:label="@string/action_extra_data_rules_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ScheduledTaskCreatorActivity"
            android:label="@string/action_scheduler_creator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.RulesCreatorActivity"
            android:label="@string/action_extra_data_rules_creator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AndroidDataListHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.SenderDataListHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ReceivedDataListHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BackupDataListHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DataImportActivity"
            android:label="@string/title_restore_import"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.DataExportActivity"
            android:label="@string/title_backup_export"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.WFDDataSenderActivity"
            android:label="@string/title_setup_wfd_sender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WFDDataReceiverActivity"
            android:label="@string/title_setup_wfd_receiver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/tile_category_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ComeInActivity"
            android:label="@string/tile_category_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserActionViewerActivity"
            android:label="@string/action_user_actions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LogViewerActivity"
            android:label="@string/action_user_actions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LicenseViewerActivity"
            android:label="@string/title_license" />
        <activity android:name=".ui.activity.DataSenderActivity" />
        <activity android:name=".ui.activity.DataReceiverActivity" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:label="@string/title_help" />
        <activity
            android:name=".ui.activity.AdActivity"
            android:label="@string/title_show_ads" />
        <activity
            android:name=".ui.activity.TransportStatsViewerActivity"
            android:label="@string/title_transport_stats_success" />
        <activity
            android:name=".ui.activity.TransportFailureStatsViewerActivity"
            android:label="@string/title_transport_stats_fail" />
        <activity android:name=".ui.activity.TransportStatsDetailsViewerActivity" />
        <activity android:name=".ui.activity.TransportStatsFailureDetailsViewerActivity" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.UserActionService" />

        <!-- For Sms -->
        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name=".broadcast.DummySmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name=".broadcast.DummyMMSReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name=".ui.activity.DummyComposeSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <!-- Service that delivers messages delegate the phone "quick response" -->
        <service
            android:name=".service.DummySmsService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".service.schedule.SchedulerServiceV21"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.schedule.SchedulerService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.newstand.datamigration.ACTION_SCHEDULE_TASK" />
            </intent-filter>
        </service>

        <receiver android:name=".broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MediaPlayerService" />
        <service android:name=".service.DataCompressService" />

    </application>

</manifest>